# COMMON START
[alias]
    a = add
    c = commit
    cm = commit -m
    ad = commit --amend --no-edit
    adm = commit --amend -m
    b = branch
    co = checkout
    cob = checkout -b
    l = log
    lp = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    lpn = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
    s = stash
    sl = stash list
    su = stash -u
    sum = stash -um
    suk = stash -uk
    sukm = stash -ukm
    sp = stash pop
    mc = merge --continue
    ri = rebase -i
    rc = rebase --continue
    ra = rebase --abort
    ch = cherry-pick
    sh = show
    st = status
[init]
    defaultBranch = main
# COMMON END
[user]
    name = sassan-dev
    email = 92205270+sassan-dev@users.noreply.github.com
